<!DOCTYPE html>
<html lang="en" ng-app= 'myApp' ng-controller="conteiner">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio</title>
    <base href=" /" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>

<body>
    <div cass="conteiner-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Projeto porto-
                    <small class="text-muted">Sitema Integrado
                    </small>
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary float-end " style="margin-top: 20px" data-bs-toggle="modal"
                data-bs-target="#modalRegistro" ng-click = "adicionarItens()">Adicionar Itens

            </button>

        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <table id="dadosjs" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Numero do Conteiner</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Status</th>
                            <th scope="col">Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>TEST1234567</td>
                            <td>20</td>
                            <td>Cheio</td>
                            <td>Exportação</td>
                        </tr>
                        <tr>

                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistroLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <!-- Modal-lg para a modal ficar maior -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRegistroLabel">Registros</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Cliente</label>
                                    <input  id="txtCliente" type="text" class="form-control"
                                        placeholder="digite o Cliente..." ng-model="form.cliente" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Numero do Conteiner </label>

                                    <input   id="txtNumerodoConteiner"type="text" class="form-control"
                                        placeholder="digite o Numero do Conteiner..." ng-model="form.conteiner"></impute>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipo</label>
                                    <input id="txtTipo" type="Numero" class="form-control"
                                        placeholder="digite o Cliente..." ng-model="form.numero" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Status </label>

                                    <input id="txtStatus" type="text" class="form-control"
                                        placeholder="digite o Status..." ng-model="form.status"></impute>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Categoria</label>
                                        <input id="txtCategoria" type="text" class="form-control"
                                            placeholder="digite a Categoria..." ng-model="form.categoria"/>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
                integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
                integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
                crossorigin="anonymous"></script>
            <script src="index.js"></script>
</body>

</html>